{% extends 'a2_base_template.html' %}

{% block activeWeek4 %} active {% endblock %}
{% block activePlansfor %} active {% endblock %}

{% block content %}

    <style>
    h1 {
        font-size: 35px;
        padding-top: 115px;
        text-align: center;
        color: white;
    }

     h5 {
        font-size: 25px;
        padding: 10px;
        text-align: center;
         color: orangered;
    }

    h1{
        background-image: url(https://images.dailyhive.com/20190730135353/shutterstock_1415080991.jpg);
        height:300px;
        background-size: cover;
        background-position: center;
    }

    p {
        text-align: center;
    }
    </style>

    <h1 class="head">Plan for Week 4</h1>
    <h5>Destination: Sydney, Australia <img width=45 height=40 src="https://illustoon.com/photo/dl/4871.png"></h5 class="head">

    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">General plan</th>
      <th scope="col">Daily expenses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">May 26th</th>
      <td>Arrival at Sydney <br>add plan</td>
      <td> add any expenses</td>

    </tr>
    <tr>
      <th scope="row">May 27th</th>
      <td>add plan</td>
      <td>add any expenses</td>
    </tr>
    <tr>
      <th scope="row">May 28th</th>
      <td>add plan</td>
        <td>add any expenses</td>
    </tr>
   <tr>
      <th scope="row">May 29th</th>
      <td>add plan</td>
      <td>add any expenses</td>
    </tr>
   <tr>
      <th scope="row">May 30th</th>
      <td>add plan</td>
      <td>add any expenses</td>
    </tr>
   <tr>
      <th scope="row">May 31st</th>
      <td>add plan</td>
      <td>add any expenses</td>
    </tr>
   <tr>
      <th scope="row">June 1st</th>
      <td>Departure from Sydney at 10h30am <br>Arrival at SFO at 7h10am <br>Departure from SFO at 9h50am <br>Arrival at YUL at 18h18pm</td>
      <td><img width=100 height=100 src=" https://illustoon.com/photo/dl/445.png"></td>
    </tr>
  </tbody>
</table>

    <p><img width="25" height="20" src="http://clipart-library.com/newimages/star-clip-art-1.png"> Expenses to keep in mind: car rental, gas, ferry fees, food, public transit, housing, general fees (hiking trails, museums, parks, etc)... </p>

    <p>Planning inspo: <a href="https://www.cnn.com/travel/article/sydney-best-beaches/index.html">Best Sydney beaches</a></p>

    <p>
    <img width = "300" height="200" src="https://www.australia.com/content/australia/en_us/places/sydney-and-surrounds/guide-to-sydney/_jcr_content/hero/mobile.adapt.768.high.jpg">
    <img width = "300" height="200" src="https://www.planetware.com/wpimages/2019/07/australia-sydney-top-beaches-bronte.jpg">
    <img width = "300" height="200" src="https://www.australia.com/content/australia/en/places/sydney-and-surrounds/guide-to-the-blue-mountains/_jcr_content/hero/mobile.adapt.768.high.jpg">
   </p>


{% endblock %}